@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: max-content;
  max-width: max-content;
  border-radius: 5px;
  height: 600px;
}

/* ==========================================================
  people-list */

.people-list {
  height: inherit;
  float: left;
  border: 1px solid #C5DDEB;
  background-color: #444753;
}
.people-list .search {
  padding: 20px;
}

.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 635px;
}
.people-list ul li {
  padding: 5px 0px 12px 0px;
  border-bottom: solid 0.5px dimgray;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

/* ==========================================================
  chat */
.chat {
  width: 544px;
  height: inherit;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #C5DDEB;
  color: #434651;
}
.chat .chat-header {
  height: 78px;
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat #chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 382px;
}
.chat #chat-history .message-data {
  margin-bottom: 15px;
}
.chat #chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat #chat-history .message {
  color: white;
  padding: 10px 15px;
  line-height: 26px;
  border-radius: 7px;
  margin-bottom: 15px;
  width: 90%;
  position: relative;
}
.chat #chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat #chat-history .my-message {
  background: #86BB71;
}
.chat #chat-history .other-message {
  background: #94C2ED;
}
.chat #chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 18px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

/* ==========================================================
  online */
.online, .me, .unread, .readicon {
  margin-right: 5px;
  font-size: 12px;
}
.online {
  color: #86BB71;
}
.me {
  color: #94C2ED;
}
.unread {
  color: #86BB71;
/*  color: #94C2ED; */
}

/* ==========================================================
  list-group */

.list-group{
  width: 420px;
}
.list-group-item {
  user-select: none; /* Standard */
}

/* ==========================================================
  align */

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* ==========================================================
  MISC */
  
#links{
  text-align: center;
}

a{
  text-decoration: none;
  color: darkblue;
  padding: 7px 40px;
  margin: 5px;
  border: solid .5px darkblue;
  border-radius: 10px;
}

#search-private, #search-group{
  background: #6A6C75;
  color: white;
}

#checklist-list{
  margin-left: 15px;
}

.user-li:hover{
  cursor: pointer;
  background-color: #5b5f6b;
}
.user-li:active{
  background-color: #6b6f7b;
}

.user-li-selected{
  background-color: #5b5f6b;
  cursor: pointer;
}

#newChatModal {
  color: black;
}

#open_my_channel_modal{
  font-size: large;
  margin-left: 95px;
  cursor: pointer;
}

#open_global_channel_modal:hover{
  background-color: #5b5f6b;
  cursor: pointer;
}


.modal-body input{
  border: solid 1px gray;
}

.modal-list .active {
  background-color: gray;
  border-color:darkgray;
}

.formHeader {
  margin-top: 10px;
  font-size: 16px;
}

/*.modal {
  background-color: #C5DDEB;
}
*/
